body {
  margin: 0;
  background-color: red;
}

header {
 height:10em;
  background-color: #333333;
}

.title {
  color: #ffffff;
  text-align:center ;
  font-size:30px;
}

.profile {
  position: relative;
  text-align: right;
 
}

.profile img {
 max-width: 500px;
 width: auto;
}
