body {
  margin: 0;
  background-color: red;
}

header {
 height:10em;
  background-color: #05282e;
}

.title {senter
  color: yellow;
  text-align: center;
  font-size:30px;
}

.profile {
  width: 500px;
}
