body {
 margin: 0;
 background-color: #ccc;
}

a {
    text-decoration: none;
}

header {
    height: 10em;
    background-color: #333;
}

header .title {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}

.profile {
  position: relative;
  text-align: center;

}

.profile img {
 max-width: 500px;
 width: auto;
}

.likes-container {
    margin: 2em;
    display: block;
    padding: 1.8em;
    border-color: #blue ;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

.likes-container ol {
    padding-left: 1.8em;
}
